/* fonts */
*{
    box-sizing: border-box;
}
/* text */

body{
    font-family: 'Russo One', sans-serif;
    width:100%;
}

:focus {
    outline: medium none;
}

span{
    color: #000;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
}

p{
    color: #000;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

h1{
    font-size: 32px;
    color: #000;
    margin-bottom: 15px;
}


h2{
    font-size: 30px;
    color: #000;
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 18px;
}

.border{
    width: 100%;
    margin:0 auto 34px;
    height: 1px;
    background: #cccccc;
}

.border span{
    width: 200px;
    margin: auto;
    height: 1px;
    background: #e2292c;
    display: block;
}

h3{
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

h4{
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

.main_wrap{
    width: 100%;
    min-width: 280px;
    margin: auto;
    background: url("../img/wave.png") repeat-y;
}

.header_wrap{
    width: 100%;
    margin: auto;
    background: #666666;
    position: relative;
}

header{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: #666666;
    box-sizing: border-box;
}

.header_left{
    float: left;
    display: inline-block;
}

.header_logo{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 0;
    vertical-align: middle;
}

.header_logo img{
    display: inline-block;
    margin:0;
}

.header_left p{
    display: inline-block;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 1;
}

.header_right{
    float: right;
    display: inline-block;
}

.callback_box{
    display: inline-block;
    text-align: right;
    width: 186px;
    margin-right:18px ;
    margin-top: 10px;
}

.callback_box p{
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 3px;
    display: inline-block;
}

.callback_box a{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0;
    display: inline-block;
    padding: 6px 10px;
    background: #e2292c;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.callback_box a:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.soc_btn_header{
     display: inline-block;
 }

.soc_btn_header a{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 9px;
}

.soc_btn_header a:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.soc_btn_header a:last-child{
    margin-right:0;
}

.nav_header_wrap{
    background: rgba(102,102,102,0.6);
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: -47px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav_header_wrap nav {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    height: 47px;
}

.nav_header_wrap nav ul{
    padding-top: 16px;
}

.nav_header_wrap nav ul li{
    display: inline-block;
    margin-right: 5.7%;
}

.nav_header_wrap nav ul li:last-child{
    margin-right: 0;
}

.nav_header_wrap nav ul li a{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.nav_header_wrap nav ul li a:hover{
    color: #686868;

}

.header--slider {
     height: 676px;
     position: relative;
     width: 100%;
     z-index: 999;
 }

.header--slider ul li{
     height: 676px;
    position: relative;
 }

.slider_text{
    margin: auto;
    width: 907px;
    text-align: center;
    padding-top: 142px;
}


.slider_text>span{
    font-size: 53px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.slider_text p{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 43px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.slider_btn{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
    display: inline-block;
    padding: 14px 25px;
    background: #e2292c;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    vertical-align: top;
}

.content_wrapper{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.advantages {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 1000px;
    position: relative;
    top: -89px;
    width: 100%;
    z-index: 1000;
}

.advantages a{
    display: inline-block;
    text-align: center;
    height: 180px;
    width: 333px;
    position: relative;
    margin: 0;
}

.jamm_fit_img1{
    background: url("../img/advantages1.png");
}

.jamm_fit_img2{
    background: url("../img/advantages1.png");
}

.jamm_fit_img3{
    background: url("../img/advantages1.png");
}

.jamm_fit_img4{
    background: url("../img/advantages1.png");
}

.jamm_fit_img5{
    background: url("../img/fit.png");
}

.jamm_fit_img6{
    background: url("../img/advantages1.png");
}
.advantages a span{
    color: #ffffff;
    display: inline-block;
    font-size: 27px;
    left: 10%;
    margin-bottom: 0;
    margin-top: -27px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%
}

.about_trainings{
    box-sizing: border-box;
    width: 100%;
    margin: -41px auto 76px;
}

.about_trainings p{
   float: left;
    display: inline-block;
    width: 500px;
}

.about_trainings img{
    float: right;
}

.request_wrap{
    width: 100%;
    background: url("../img/request.jpg") 50% 50%;
    background-size:cover;
    height: 342px;
    margin:0 auto 35px;

}

.request{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.model{
    width: 50%;
    float: left;
    position:relative;
}

.model:before{
    content: "";
    position:absolute;
    background: url("../img/model.png");
    width: 447px;
    height: 422px;
    right: 0;
    top: -80px;
}

.request_form{
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding: 55px 79px;
}

.request_form span{
    font-size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.request_form input[type="text"]{
    font-size: 14px;
    display: block;
    color: #808080;
    margin:0 auto 17px;
    padding: 13px 10px;
    box-sizing: border-box;
    width: 332px;
    box-shadow:inset 1px 1px 3px 1px #c3c3c3;
    border: none;
}

.request_form input[type="text"]:last-child{
    margin:0 auto 34px;
}

.request_form input[type="submit"]{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #ffffff;
    margin:auto;
    text-align: center;
    box-sizing: border-box;
    width: 332px;
    height: 47px;
    border: none;
    text-transform: uppercase;
    background: #e2292c;
    cursor: pointer;
}

.request_form input[type="submit"]:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.reviews_wrap{
    height: 212px;
    margin-bottom: 68px;
}

.reviews{
    height: 150px;
    margin: auto;
    position: relative !important;
    width: 100%;
 }

.reviews_item{
    width:100%;
    margin: auto;
    display: block;

}

.reviews ul li img{
     display: inline-block;
     vertical-align:top;
     margin-right: 0;
 }

.reviews_right{
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}

.reviews_right p{
    font-size: 14px;
}

.reviews_name{
    font-size: 16px;
    color: #000000;
    padding-top: 14px;
    position: relative;
    display: block;
}

.reviews_name:before{
    position: absolute;
    display: block;
    width: 102px;
    height: 1px;
    background: #e2292c;
    left: 0;
    top: 0;
    content: "";
}

.misconception{
    margin:0 auto 38px;
}

.img_780{
   display: none;
}

.misconception_img{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    width: 500px;
}

.misconception p{
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    line-height: 1.2;
}

.slider_wrap{
    width: 211px;
}

.price_wrap{
    width: 100%;
    margin:0 auto 45px;
    background: url("../img/price.jpg") 50% 50%;
    background-size: cover;
}

.price{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding:30px 0 40px 0 ;
}


.price h2{
    color: #ffffff;
}

.price_item{
    margin: auto;
    width: 420px;
    text-align: center;
}

.price_item a{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin:0 auto 30px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #e2292c;
    padding: 13px 104px;
}

.price_item a:last-child{
    margin-bottom: 0;
    background: #ffffff;
    color: #000000;
}

.price_item a:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.price_item p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #ffffff;
}

.last_news{
    margin-bottom: 65px;
}

.last_news_img{
    display: inline-block;
    position:relative ;
    vertical-align: top;
    margin-right: 15px;
}

.last_news_img p{
     display: inline-block;
     position: absolute;
     right: 0;
     bottom: 34px;
     padding: 7px 20px;
     box-sizing: border-box;
     font-size: 15px;
     text-align: center;
    color: #ffffff;
    background: #e2292c;
    font-weight: bold;
    margin-bottom: 0;
 }

.last_news_img p span{
    display: block;
    font-size: 35px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -5px;
    color: #ffffff;
}

.last_news_text{
    width: 599px;
    display: inline-block;
    vertical-align: middle;
}

.last_news_text span{
    font-size: 20px;
    margin-bottom: 27px;
    display: inline-block;
}

.last_news_text p{
    line-height: 1.2;
    margin-bottom: 27px;
}

.last_news_text a{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #e2292c;
    padding: 12px 40px;
}

.last_news_text a:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.learn_wrap{
    width:100%;
    margin: auto;
    background: url("../img/red.jpg") 50% 50%;
    background-size: cover;
}

.learn{
    width: 100%;
    max-width: 1000px;
    padding: 25px 30px;
    margin: auto;
    box-sizing: border-box;
}

.learn form{
    display: block;
    margin: auto;
    width: 713px;
}

.h2_white{
    font-size: 30px;
    color: #ffffff;
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 55px;
}


.h2_white:before{
    content: "";
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 1px;
    bottom: -15px;
    left: 0;
}

.learn form input[type="text"]{
    font-size: 14px;
    display: inline-block;
    color: #808080;
    margin-right: 20px;
    padding: 14px 10px;
    box-sizing: border-box;
    width: 332px;
    box-shadow:inset 1px 1px 3px 1px #c3c3c3;
    border: none;
}

.learn form input[type="submit"]{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #ffffff;
    margin:auto;
    text-align: center;
    box-sizing: border-box;
    width: 347px;
    height: 47px;
    border: none;
    text-transform: uppercase;
    background: #666666;
    cursor: pointer;
}

.learn form input[type="submit"]:hover{
    opacity: 0.6;
    transition: 2000ms;
    -webkit-transition:2000ms;
}

.breadcrumbs{
    display: inline-block;
    font-size: 12px;
    margin-top: 56px;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}

.breadcrumbs a{
    display: inline-block;
    text-decoration: underline;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    vertical-align: top;
}

.breadcrumbs p{
    display: inline-block;
    color: #a0a0a0;
    font-size: 12px;
    vertical-align: top;
    margin-top: 1px;
}

.breadcrumbs span{
    display: inline-block;
    color: #000000;
    font-size: 12px;
    vertical-align: sub;
}

.advantages_wrap{
    margin: 0 auto 30px;
}

.advantages_wrap p{
    text-align: center;
    line-height: 1.2;
}

.advantages_slider {
    height: 365px;
    position: relative;
    width: 100%;
    z-index: 999;
}

.advantages_slider ul li{
    height: 365px;
    position: relative;
}

footer{
    width: 100%;
    margin: auto;
    background: #666666;
}

.footer_box{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.footer_nav{
    position: relative;
    background: #808080;
    top: 0;
}

.footer_nav nav ul li a:hover{
    color: #686868;
}

.footer_left{
    display: inline-block;
    margin-right: 37px;
}

.footer_left img{
    width: 186px;
    display: block;
    margin-bottom: 20px;
}


.footer_left .callback_box{
   text-align: left;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 21px;
}

.footer_left .soc_btn_header{
    margin-bottom: 20px;
    display: block;
    width: 148px;
}

.footer_left .soc_btn_header a img{
    width: 40px;
    margin-bottom: 0;
}

.reef{
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
}

.reef a{
    color: #e41d30;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
}

.footer_center{
   width: 390px;
   display: inline-block;
    margin-right: 21px;
    vertical-align: top;
}

.footer_center p{
    margin-bottom: 20px;
    line-height: 1.2;
    color: #ffffff;
}

.footer_right{
    display: inline-block;
    width: 355px;
    vertical-align: top;
}

.footer_right_item{
    margin-bottom: 18px;
}

.footer_right_item:last-child{
    margin-bottom: 0;
}

.footer_right_item a{
    display: inline-block;
    margin-right: 18px;
}

.footer_right_item a:last-child{
    margin-right: 0;
}

.burger {
    color: #ffffff;
    display: none;
    float: right;
    font-size: 14px;
    margin-top: 16px;
    padding-right: 57px;
    position: relative;
    text-transform: uppercase;
}

.burger:before {
    position: absolute;
    content: "";
    background: url("../img/burger.png");
    width: 29px;
    height: 21px;
    right: 10px;
    top: -3px;
}